*{
  font-family: "微软雅黑";
}
body{
  background-color: #EFF2F7;
}
header{
  width: 1020px;
  min-width: 1020px;
  margin: auto;
}
header > img, footer > img {
  width: 100%;
}
.nav {
  width: 150px;
  float: left;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-family: "Microsoft Yahei";
}
.nav a{
  color: #48576a;
}
.nav li:hover>a,.active > a {
  cursor: pointer;
  background-color: #d1dbe5;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #337ab7;
  color: #fff;
}
.tab-content {
  float: left;
  margin-left: 40px;
  margin-top: 25px;
  background-color: #fff;
}
.clear-fix::before, .clear-fix::after {
  content: "";
  display: table;
}
.clear-fix::after {
  clear: both;
}
footer {
  margin-top: 100px;
  width: 1020px;
  min-width: 1020px;
  margin: auto;
}
.main-content {
  min-height: 800px;
  width: 1020px;
  min-width: 1020px;
  margin: auto;
  background-color: #fff;
}
.tab-content>div{
  width: 800px;
}
.login-main {
  width: 700px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}
.notice-list {
  float: left;
}
.btn-submit {
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.admin-content {
  width: 800px;
  padding-right: 10px;
}
.list-group {
  width: 100%;
}
.list-group li:hover {
  background-color: rgba(22, 33, 44, 0.1);
}
.tab-content .content-title {
  text-align: center;
}
.bor-s{
  border-top: transparent dashed 17px;
  border-bottom: transparent dashed 17px;
  border-left: #337ab7 dashed 17px;
  display: inline-block;
}
.page-header > span.more-t {
  line-height: 34px;
  font-size: 18px;
  color: #fff;
  background-color: #337ab7;
  display: inline-block;
  vertical-align: top;
  padding-left: 1.5em;
  padding-right: 1em;
  font-weight: 600;
}
.news-li{
  display: inline-block;
  margin-bottom: 20px;
  width: 800px;
  color: #324057;
  position: relative;
}
.news-li:hover {
  text-decoration: none;
}
.news-li .new-label {
    color: red;
    margin-left: 5px;
}
.page-nav {
  text-align: center;
}
.xadmin {
  margin-left: 0;
  width: 850px;
  padding-right: 30px;
  padding-left: 20px;
}
